@import "~/.config/swaync/colors.css";

* {
  color:            @on_primary;

  all: unset;
  font-size: 14px;
  font-family: "JetBrains Mono Nerd Font 10";
  transition: 200ms;

}

.blank-window {  
  background: transparent;  
}
  
.control-center {
  background: alpha(@background, .8);
  border-radius: 24px;
  border: 1px solid @outline;
  margin: 18px;
  padding: 12px;
}

.control-center .notification-row .notification-background,
.control-center .notification-row .notification-background .notification.critical {
  background-color: @primary;
  border: 1px solid @outline;
  border-radius: 10px;
  margin: 4px 0px;
  padding: 4px;
  color: @on_primary;
}

.control-center .notification-row .notification-background .notification.critical {
  color: @error;
}

.control-center .notification-row .notification-background .notification .notification-content {
  margin: 6px;
  padding: 8px 6px 2px 2px;
}

.control-center .notification-row .notification-background .notification > *:last-child > * {
  min-height: 3.4em;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action {
  background: alpha(@outline, .6);
  color: @on_primary;
  border-radius: 12px;
  margin: 6px;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action:hover {
  background: @outline;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action:active {
  background-color: @outline;
}

.control-center .notification-row .notification-background .close-button {
  background: @on_primary;
  border-radius: 6px;
  color: @on_primary;
  margin: 0px;
  padding: 4px;
}

.control-center .notification-row .notification-background .close-button:hover {
  background-color: @outline;
}

.control-center .notification-row .notification-background .close-button:active {
  background-color: @outline;
}

progressbar,
progress,
trough {
}

}


.notification-group {
  margin: 2px 8px 2px 8px;

}
.notification-group-headers {
  font-weight: bold;
  font-size: 1.25rem;
  color: @primary;
  letter-spacing: 2px;
}

.notification-group-icon {
  color: @primary;
}

.notification-group-collapse-button,
.notification-group-close-all-button {
  background: transparent;
  color: @primary;
  margin: 4px; 
  border-radius: 6px;
  padding: 4px;
}

.notification-group-collapse-button:hover,
.notification-group-close-all-button:hover {
  background: alpha(@on_primary, .4);
}  


.widget-title {
  font-size: 1.2em;
  margin: 6px;
}

.widget-title button {
  background: @primary;
  border-radius: 6px;
  padding: 4px 16px;
}

.widget-title button:hover {
  background-color: alpha(@on_primary, .4);
}

.widget-title button:active {
  background-color: @on_primary;
}

.widget-dnd {
  margin: 6px;
  font-size: 1.2rem;
}

.widget-dnd > switch {
  background: @primary;
  font-size: initial;
  border-radius: 8px;
  box-shadow: none;
  padding: 2px;
}

.widget-dnd > switch:hover {
  background: alpha(@on_primary, .4);
}

.widget-dnd > switch:checked {
  background: @outline;
}

.widget-dnd > switch:checked:hover {
  background: alpha(@on_primary, .4);
}

.widget-dnd > switch slider {
  background: @on_primary;
  border-radius: 6px;
}

.widget-mpris {
    color: @on_secondary;
}

.widget-mpris-player {
    background-color: alpha(@primary, .8);
    border-radius: 22px;
    padding: 6px 14px;
    margin: 6px;
}

 
.widget-mpris button {
  color: @on_primary;
}

.widget-mpris button:hover {
  color: alpha(@on_primary, .4);
}

.widget-mpris-album-art {
  border-radius: 16px;
}
 
.widget-mpris-title {
    font-weight: 700;
    font-size: 1rem;
}
 
.widget-label {
    font-weight: 1000;
    font-size: 10rem;
}

.widget-mpris-subtitle {
    font-weight: 500;
    font-size: 0.8rem;
}

picture.mpris-background {
  opacity: 0;
}

.widget-volume {
  background: alpha(@primary, .8);
  color: @on_primary;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}

.control-center trough {
  background: @primary;
  border-radius: 8px;
}

.control-center trough highlight {
  padding: 10px;
  background: @on_primary;
  border-radius: 8px;
}

